@page "/callChainParser/{traceId}"

@using Blazored.Modal.Services
@using System.Text.Json
@using ApolloWebUI.Model
@using ApolloWebUI.Components;
@using System.Text;
@using Microsoft.Extensions.Configuration;
@inject IModalService  Modal
@inject IConfiguration Configuration
<div>
    <textarea class="form-control" style="width:100%" @bind="@InputString" name="InputString"></textarea>
    <button type="submit" class="btn btn-primary" @onclick="Parse">解析</button>
</div>
@if (@ChainModel != null)
{
    <CallChainSvgComponent @bind-ChainModel="@ChainModel" />
}
<p class="text-danger">@Message</p>
<div>
    @robotLogResult

    @foreach (var span in robotLogs)
    {
        <table class="table">
            <thead>
                <tr>
                    <td>
                        @span.FirstOrDefault()?.ProcessId
                    </td>
                    <td>
                        @span.FirstOrDefault(s => s.FormId != null)?.FormId
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var logs in span)
                {

                    <tr>
                        <td>
                            @(new DateTime(logs.Time).ToString("yyyy-MM-dd HH:mm:ss.fff"))
                        </td>
                        <td>
                            @logs.RepositoryName
                        </td>
                        <td>
                            @logs.Level
                        </td>
                        <td>
                            @logs.Message
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code
{
    string InputString { get; set; }
    [Parameter]
    public string TraceId { get; set; }
    CallChainModel ChainModel { get; set; }
    List<string>
    viewModel;
    string Message { get; set; }
    static HttpClient httpClient = new HttpClient();
    string robotLogResult = null;
    List<List<RobotLogModel>> robotLogs = new List<List<RobotLogModel>>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (string.IsNullOrEmpty(TraceId) == false)
        {
            try
            {
                var response = await httpClient.GetAsync($"{Configuration.GetSection("callChainUrl").Value}{TraceId}");
                if (response.IsSuccessStatusCode)
                {
                    InputString = await response.Content.ReadAsStringAsync();
                    Parse();
                }
                else
                {
                    Message = await response.Content.ReadAsStringAsync();
                }

                var response1 = await httpClient.GetAsync($"{Configuration.GetSection("robotLogUrl").Value}{TraceId}");
                if (response1.IsSuccessStatusCode)
                {
                    var robotLogResult = await response1.Content.ReadAsStringAsync();
                    robotLogs = JsonSerializer.Deserialize<List<List<RobotLogModel>>>(robotLogResult);
                }
                else
                {
                    robotLogResult = await response1.Content.ReadAsStringAsync();
                }
            }
            catch (Exception ex)
            {
                Message = ex.Message;
            }
        }
    }

    private void HandleSubmit()
    {
        Console.WriteLine("OnSubmit");
    }

    void Parse()
    {
        var o = new JsonSerializerOptions()
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        };
        try
        {
            var a = JsonSerializer.Deserialize<JsonElement>
                (InputString);
            ReadOnlySpan<char>
                readOnlySpan = new ReadOnlySpan<char>
                    ("obj".ToCharArray());
            if (a.TryGetProperty(readOnlySpan, out var b))
            {
                ChainModel = JsonSerializer.Deserialize<CallChainModel>
                    (b.GetString(), o);
            }
            else
            {
                ChainModel = JsonSerializer.Deserialize<CallChainModel>
                    (InputString, o);
            }
            Message = string.Empty;
        }
        catch (Exception ex)
        {
            Message = ex.Message;
            Console.WriteLine(ex);
        }
    }
}
