@page "/ConditionalQuery"

@using Blazored.Modal.Services
@using System.Text.Json
@using ApolloWebUI.Model
@using System.Text;
@using Microsoft.Extensions.Configuration;
@using System.Buffers;
@using System.ComponentModel.DataAnnotations;
@inject IModalService  Modal
@inject IConfiguration Configuration

<div>
    <textarea class="form-control" style="width:100%" @bind="@conditions"></textarea>
    <input type="checkbox" @bind-value="@isUseTimeRange" id="timeRange" /><label for="timeRange">时间范围</label>
    @if (isUseTimeRange)
    {
        <label>起始时间</label><input type="datetime" placeholder="yyyy-MM-dd hh:mm:ss" @bind="startTime" @bind:format="yyyy-MM-dd HH:mm:ss" />
        <label>结束时间</label><input type="datetime" placeholder="yyyy-MM-dd hh:mm:ss" @bind="endTime" @bind:format="yyyy-MM-dd HH:mm:ss" />
    }
</div>
<button @onclick="Search">查询</button>
<div>
    <p style="color:red">@Message</p>
    <ul>
        @foreach (var traceId in TraceIds)
        {
            <li><a href="/callChainParser/@traceId.Item1" target="_blank">@traceId.Item1 (@traceId.Item2)</a></li>
        }
    </ul>
</div>
@code {

    string conditions = string.Empty;
    string Message { get; set; } = string.Empty;
    List<(string, DateTime)> TraceIds { get; set; } = new List<(string, DateTime)>();
    bool isUseTimeRange { get; set; }
    DateTime startTime { get; set; } = DateTime.Now;
    DateTime endTime = DateTime.Now;
    DateTime CurrentValue { get; set; } = DateTime.Now;

    static HttpClient HttpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
    }

    async Task Search()
    {
        string result;
        try
        {
            Console.WriteLine(startTime);
            Console.WriteLine(endTime);
            result = await BuildRequestBody(conditions, startTime, endTime);
        }
        catch (Exception ex)
        {
            Message = $"查询条件有错误：{ex.Message}";
            return;
        }

        string content;
        try
        {
            StringContent stringContent = new StringContent(result, Encoding.UTF8, "application/json");
            var response = await HttpClient.PostAsync($"{Configuration.GetSection("callChainUrl").Value}error", stringContent);
            content = await response.Content.ReadAsStringAsync();
            Console.WriteLine(content);
        }
        catch (Exception ex)
        {
            Message = $"查询 ES 出现异常：{ex.Message}";
            return;
        }

        try
        {
            JsonElement jobj = JsonSerializer.Deserialize<JsonElement>
                (content);
            var a = jobj.GetProperty("hits").GetProperty("hits").EnumerateArray()
            .Select(o => (o.GetProperty("_source").GetProperty("traceId").GetString(), o.GetProperty("_source").GetProperty("requestTime").GetDateTime()))
            .OrderBy(o => o.Item2).ToList();
            string temp = null;
            TraceIds.Clear();
            foreach (var item in a)
            {
                if (temp == item.Item1)
                {
                    continue;
                }
                else
                {
                    temp = item.Item1;
                    TraceIds.Add(item);
                }
            }
            //TraceIds = jobj.GetProperty("hits").GetProperty("hits").EnumerateArray()
            //.Select(o => (o.GetProperty("_source").GetProperty("traceId").GetString(), o.GetProperty("_source").GetProperty("requestTime").GetDateTime()))
            //.OrderBy(o => o.Item2)
            //.Distinct().ToList();
            if (TraceIds.Count <= 0)
            {
                Message = "无查询结果";
            }
            else if (TraceIds.Count > 10)
            {
                Message = "查询结果超过10个，可尝试调整查询条件";
            }
            else
            {
                Message = string.Empty;
            }
        }
        catch (Exception ex)
        {
            Message = $"处理结果时出现异常：{ex.Message}";
        }
    }

    async Task<string>
        BuildRequestBody(string conditions, DateTime startTime, DateTime endTime)
    {
        var a = conditions.Split("\n");
        var buffer = new ArrayBufferWriter<byte>
            ();
        Utf8JsonWriter utf8JsonWriter = new Utf8JsonWriter(buffer);
        utf8JsonWriter.WriteStartObject();
        utf8JsonWriter.WriteNumber("size", 1000);
        utf8JsonWriter.WriteStartArray("_source");
        utf8JsonWriter.WriteStringValue("traceId");
        utf8JsonWriter.WriteStringValue("requestTime");
        utf8JsonWriter.WriteEndArray();
        utf8JsonWriter.WriteStartObject("query");
        utf8JsonWriter.WriteStartObject("bool");
        utf8JsonWriter.WriteStartArray("must");
        foreach (var item in a)
        {
            utf8JsonWriter.WriteStartObject();
            var b = item.Split(':');
            utf8JsonWriter.WriteStartObject("term");
            if (b[1].StartsWith("\"") && b[1].EndsWith("\""))
            {
                utf8JsonWriter.WriteString(b[0], b[1].Trim('\"'));
            }
            else if (b[1].ToLower() == "true" || b[1].ToLower() == "false")
            {
                utf8JsonWriter.WriteBoolean(b[0], bool.Parse(b[1]));
            }
            else
            {
                utf8JsonWriter.WriteNumber(b[0], decimal.Parse(b[1]));
            }
            utf8JsonWriter.WriteEndObject();
            utf8JsonWriter.WriteEndObject();
        }
        if (isUseTimeRange)
        {
            utf8JsonWriter.WriteStartObject();
            utf8JsonWriter.WriteStartObject("range");
            utf8JsonWriter.WriteStartObject("requestTime");
            utf8JsonWriter.WriteString("lte", endTime);
            utf8JsonWriter.WriteString("gte", startTime);
            utf8JsonWriter.WriteEndObject();
            utf8JsonWriter.WriteEndObject();
            utf8JsonWriter.WriteEndObject();
        }
        utf8JsonWriter.WriteEndArray();
        utf8JsonWriter.WriteEndObject();
        utf8JsonWriter.WriteEndObject();
        utf8JsonWriter.WriteEndObject();
        await utf8JsonWriter.FlushAsync();
        var output = buffer.WrittenSpan.ToArray();
        var result = Encoding.UTF8.GetString(output);
        return result;
    }
}
