@using ApolloWebUI.Model;
@using Blazored
@using Blazored.Modal
@using Blazored.Modal.Services

@inject IModalService Modal;

<tr @ondblclick="ShowModal">
    <td>@Content.Key</td>
    <td>@Content.Value</td>
    <td>@Content.Comment</td>
    <td>@Content.DataChangeLastModifiedBy</td>
    <td>@Content.DataChangeLastModifiedTime</td>
    <td>@Content.DataChangeCreatedBy</td>
    <td>@Content.DataChangeCreatedTime.ToString("yyyy-MM-dd hh:mm:ss")</td>
</tr>

@code {
    [Parameter]
    public NamespaceItem Content { get; set; }

    void ShowModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("Item", Content);

        Modal.OnClose += ModalClosed;
        Modal.Show("修改配置项", typeof(MyModal), parameters);
    }

    void ModalClosed(ModalResult modalResult)
    {
        Console.WriteLine("Modal has closed");

        if (modalResult.Cancelled)
        {
            Console.WriteLine("Modal was Cancelled");
        }
        else
        {
            Console.WriteLine(modalResult.Data.ToString());
        }

        Modal.OnClose -= ModalClosed;
        StateHasChanged();
    }
}
