@using Model;

<tr>
    <td>@Content.Key</td>
    <td>@Content.Value</td>
    <td>@Content.Comment</td>
    <td>@Content.DataChangeLastModifiedBy</td>
    <td>@Content.DataChangeLastModifiedTime</td>
    <td>@Content.DataChangeCreatedBy</td>
    <td>@Content.DataChangeCreatedTime</td>
</tr>

@code {
    [Parameter]
    public NamespaceItem Content { get; set; }
}
